* {
	box-sizing: border-box;
}


body {

    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

/* Header and navigation styling */
.wrapper {
    text-align: center;
}

.site-nav {
    padding-left: 0;
}

.site-nav li, a {
    display: block;
    padding: 8px;
    margin: 10px 8px;
    
    
}

.site-nav a {
    text-transform: uppercase;
    text-decoration: none;
}